@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    border-bottom: 2px solid #15616D;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo img {
    width: 80px;
    height: 75px;
    border-radius: 100%;
    border: 5px solid #E9C46A;
}

.nav-logo span {
    color: #001524;
    font-size: 1.8rem;
    font-weight: 900;
    text-shadow: 2px 2px 1px #E9C46A;
}

.navbar > a {
    border: 2px solid #ffff;
    border-radius: 25px;
    background-color: #15616D;
    color: #fff;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.navbar > a:hover {
    background-color: #E9C46A;
    color: #15616D;
}

main {
    height: 85vh;
    background-size: cover;
}

#main-index{
    background-image: url(/assets/images/hockey_1.jpg); 
}

main .box,
.box-about,
.box-contact,
.box-game,
.box-rules {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100%;
    background-color: rgb(255,255,255,0.8);
}

.main-title > h1{
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    color: #E9C46A;
    text-shadow: 5px 5px 1px #001524;
}

.main-title > p {
    font-size: 3rem;
}

.main-title > h1 > span {
    font-size: 9rem;
    font-weight: 700;
    color: #001524;
    text-shadow: 6px 6px 1px #E9C46A;
}

.events-info{
    display: flex;
    flex-direction: column;
    border: 4px solid #15616D;
    height: 20rem;
}

.events-info > h2 {
    background-color: #15616D;
    text-align: center;
    color: #E9C46A;
}

.events-info > article {
    margin: 0.8rem 2rem;
}

.events-info h3 {
    font-size: 1.4rem;
    color: #15616D;
}

.events-info p {
    font-size: 1.2rem;
    font-weight: 400;
}


/* ////////////////////////////////////////////////////// 
            ABOUT CSS
////////////////////////////////////////////////////////*/

#main-about{
    background-image: url(/assets/images/hockey_2.jpg);
}

.about-info{
    display: flex;
    gap: 6rem;
}

.about-info > article {
    display: flex;
    flex-direction: column;
}

.about-info h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #15616D;
} 

.about-info  p {
    text-align: justify;
    border: 3px solid #15616D;
    font-size: 1.2rem;
    padding: 2rem;
    width: 400px;
    height:400px;
}

.about-info p:hover{
    background-color: #15616D;
    cursor: pointer;
}


/* ////////////////////////////////////////////////////// 
            CONTACT CSS
////////////////////////////////////////////////////////*/

#main-contact{
    background-image: url(/assets/images/design2_image1.jpg);
}

.contact-info{
    border-bottom: 3px solid #E9C46A;
    padding: 0 6rem;
}

.contact-info p {
    font-size: 2rem;
    font-weight: 700;
    color: #001524;
    text-shadow: 2px 2px 1px#E9C46A;
}


/* ////////////////////////////////////////////////////// 
            GAME INFO CSS
////////////////////////////////////////////////////////*/

#main-game{
    background-image: url(/assets/images/hockey_3.jpg);
    height: auto;
}

.table-head h1{
    font-size: 3rem;
    color: #001524;
    text-shadow: 2px 2px 1px#E9C46A;
}

.table-head p,
.table-footer p{
    font-size: 1.2rem;
}

.game-info{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

table {
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    border-collapse: collapse;
}
table th {
    background-color: #15616D;
    color: #E9C46A;
}

tr,td {
    border: 1px solid #001524;
}

p > span {
    font-weight: 700;
}

/* ////////////////////////////////////////////////////// 
            RULES CSS
////////////////////////////////////////////////////////*/

#main-rules{
    background-image: url(/assets/images/design1_image1.jpg);
}

.rules-info {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
}

.rules-info-head > h1,
.rules-info-head > h2,
.rules-info-head > p{
    text-align: center;
}

/* ////////////////////////////////////////////////////// 
            REGISTRATION CSS
////////////////////////////////////////////////////////*/

#main-registration {
    display: flex;
    justify-content: center;
    margin: 0 12rem;
    padding: 1rem;
}

#registration-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#registration-form p {
    font-weight: 700;
    color: #15616D;
}

#registration-form fieldset {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
    border: 1px solid #15616D;   
}

#registration-form fieldset legend {
    font-weight: 700;
    color: #E9C46A;
}

/* ////////////////////////////////////////////////////// 
            FEEDBACK CSS
////////////////////////////////////////////////////////*/

#main-feedback {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#main-feedback > div {
    padding: 2rem;
}

footer {
    display: flex;
    background-color: #15616D;
    height: 5vh;
    color: #fff;
    align-items: center;
    justify-content: center;  
}


